/* ==========================================================================
   Scott Pedder's custom styles
   www.scott-pedder.co.nz
   ========================================================================== */

@font-face  {
    font-family: 'brandon_grotesquemedium';
    src: url('fonts/brandongrotesque-medium.eot');
    src: url('fonts/brandongrotesque-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandongrotesque-medium.woff') format('woff'),
         url('fonts/brandongrotesque-medium.ttf') format('truetype'),
         url('fonts/brandongrotesque-medium.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'brandon_grotesqueMdIt';
    src: url('fonts/brandongrotesque-mediumitalic-webfont.eot');
    src: url('fonts/brandongrotesque-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandongrotesque-mediumitalic-webfont.woff') format('woff'),
         url('fonts/brandongrotesque-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/brandongrotesque-mediumitalic-webfont.svg#brandon_grotesqueMdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4{
	font-family: 'brandon_grotesquemedium';
	color:#63a4d9;
	}


a:hover{
	text-decoration:none;}

.callus{
	text-align:right;
	font-size:22px;
	margin-top:15px;
	}

.red{
	background:#F00
	}
.purple{
	background:#63C;
	}
.green{
	background:#090}

.blue{
	color:#367eb6}

.white{
	background:#fff;
	}


.gray{
	background:#fafafa;
	}

.ital{
	font-family: 'brandon_grotesqueMdIt';
	}
	
	.black{
	background:#212121;	
		}
	
.cont{
	width:100%;
	padding:10px 0 0 0;
	}
.repair{
  padding-top:60px;
}

.repair img{
	border: #ccc solid 1px;
	padding:5px;
}

.social{
	padding-top:10px;
	}

.slid-cont{
	width:100%;
	background:#eaeaea url(img/slider/border.jpg) repeat-x;
	}

.bor{
	background: url(img/slider/border.jpg) repeat-x;
	}

.testimonial p{
	font-family: 'brandon_grotesqueMdIt';
	font-size:32px;
	text-align:right;
	line-height:24px;
	margin-top:20px;
	color:#666;
	}

.container-fluid, .slider-fluid{
	max-width:1200px;
	margin:0 auto;
	}

span.dan{
	font-family: 'brandon_grotesquemedium';
	font-size:15px;
	line-height:18px;
	text-align:right;
	float:right;
	}
.icons img{
	float:left;
	padding:30px 7.5%;
	width:10%;
	}

.why{
	float:left;
	}

.some{
	float:right;}

.why ul li{
	list-style:url(img/tick.jpg);
	font-size:20px;
	padding:5px 0;
	color:#666;
	}

.wel{
	padding-top:20px;
	}

.some img{
	padding:5px;
	border:#CCC solid 1px;
	float:left;
	margin:0 10px 10px 0;
}

.contact{
	float:left;
}

.contact label{
	width:100px;
	}
.contact p{
	float:left;
	display:block;
	width:100%;
	}
	
.form-left{
	width:45%;
	float:left;
	}	
	
.form-right{
	float:right;
	width:45%;
	}	
	
.contact input[type=text], .contact input[type=email]{
	background:#d7d7d7;
	float:left;
	width:100%;
	border:none;
	border-radius:4px;	
}
.contact textarea[type=textarea]{
	background:#d7d7d7;
	float:right;
	width:100%;
	height:166px;
	border-radius:4px;
	}
.form-right button[type=submit]{
	float:right;
	background:#666;
	margin:10px 0;
	color:#fff;
	padding:3px 10px;
	border-radius:4px;
}

.address{
	float:right;
	}

.address ul{
	margin:0;
	}
	
.address ul li{
	list-style:none;
	}	
	
.footer p{
	color:#FFF;
	font-size:11px;
	line-height:28px;
	}
ul.nav{
	padding:0;}

ul.nav li a{
	font-size:18px;
	font-family: 'brandon_grotesquemedium';
	}
li{
	line-height:20px;}	

div.navbar-inner{
	border:none;
	background:none;
	float:right;
	margin:0;
	padding:0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	}
	
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
color: #367eb6;
text-decoration: none;
background-color:#fafafa;
-webkit-box-shadow: none;
-moz-box-shadow:none;
box-shadow: none;
}

.navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 0 0px 0 0;

}

.ser h1{
	padding-bottom:15px;
margin-top:-10px;
	}
.top-footer{
	background:#eaeaea url(img/slider/border.jpg) repeat-x;}


.page-wrap{
	background:#63a4d9;
	height:90px;

}
.page-title{
	color:#fff;
	font-family: 'brandon_grotesquemedium';
	font-size: 36px;
	padding: 30px 0 0 0;
}

.hero img{
	margin:30px 0;
	border-radius:10px;
	}
div.clients ul{

margin-top:30px;
}
	

div.clients ul li{
	float:left;
	list-style:none;
	width:24.8%;
	text-align:center;
	padding:1% 0;
	}
	
div.clients ul li:first-child{
	border-left:#dbdcdc solid 1px
	}	
	
div.clients ul li{
	border-right:#dbdcdc solid 1px
	}
	
div.clients ul li img{
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
	-webkit-filter:grayscale(1);
	}
	
	div.clients ul li img:hover{
	z-index:2;
	-webkit-filter:grayscale(0);
			
	}
	
.test{
	margin:30px 0;
	}
ul.test-slide{
	border-radius:8px;
	background:#f3f3f3;
	margin-top:30px;
	padding:20px;
	color:#777;
	}	
	
ul.test-slide li p{
	font-style:italic;
	
	}
	
	
.gal{
	padding-left:27px;
}	
	
.gal ul{
	margin:0;
	padding:0;
}	

.gal ul li{
	float:left;
	width:23%;
	padding:1%;
	list-style: none;
}
	
.gal img{
	border-radius: 3px;
}

.bottom{
	margin-bottom:50px;
}
	
.ser img{
	padding:10px;
	border-radius:3px;
	border:#ccc solid 1px;}	
	
.service{
	padding:30px 0;
	border-bottom:#d6d6d6 solid 1px;
	
	}	
	
.services{
	padding-left:1.5%;

	}	
	
.services ul li{
	list-style: url(img/tick.jpg);
	}
	
.services h2{
	margin-top:-15px;
	}
	
	
/*styles for 768px and up! iPad portrait*/
@media only screen and (max-width: 768px) {


body {
padding-right: 5px;
padding-left: 5px;
}


.wel{
	padding-top:0px;
	}
h1{
	font-size:33px;
	margin-top:0;
	}


}

/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 


.scott{
	display:none;}


}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
.callus {
text-align: center;
font-size: 22px;
margin-top: 15px;
}

.menu{
	color:#666;
	font-size:12px;
	position:relative;
	top:5px;
	left:20px;
	}

.scott{
	display:none;}
	

.services h2{
	margin-top:5px;
	}

.testimonial p{
text-align:center;
}

.gal ul li{
	width:50%;
}


}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
h1{
	font-six:33px;
	margin-top:0;
	}
	
.ser img {
padding: 0px;	
	
}
.page-wrap {
background: #63a4d9;
height: 43px;
}
.page-title {
padding: 6px 0 0 0;
}

.gal ul li{
	width:100%;
}

}